/* @import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}



  body {
    height: 100vh;
    font-family: 'Roboto Mono', monospace;
  }
  
  .App {
  overflow-x: hidden;
  position: relative;

}

.container-login{
  width: 100%;
  height: 100vh;
  position: relative;
}
.container-img {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 50px 0;
}

.container-img > img {
  width: 340px;
	height: 70px;
}


.search-container {
	width: auto;
	display: block;
	overflow-x: hidden;
  margin: 0 60px;
}

  input#search-bar {
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
    font-size: 1rem;
    height: 45px;
    margin: 0 auto;
    outline: none;
    padding: 0 20px;
    width: 100%;
    border: none;
    border-radius: 15px;
  }

.search-icon {
	float: right;
	height: 45px;
	position: relative;
	right: 0;
	top: -45px;
	width: 61px;
	border: none;
	cursor: pointer;
	/* background: #DD1A1A; */
	border-radius: 16px;
	color: whitesmoke;
	font-size: 15px;
	font-weight: bold;
}

.search-icon > img {
	position: relative;
	float: right;
	width: 40px;
	height: 40px;
	right: 5px;
}

.footer {
	position: absolute;
	bottom: 0;
  width: 100%;
}

.footer-pokedexData{
  /* position: absolute;
	bottom: 0; */
  width: 100%;
}

.top {
	position: absolute;
	top: 0;
	width: 100%;
	position: fixed;
	z-index: 2;
}

.footer>.red{
  height: 100px;  
  background-color: #DD1A1A;
  }

.footer-pokedexData>.red{
  height: 50px;  
  background-color: #DD1A1A;
}


  .top>.red-top{
    height: 60px;
    background-color: #DD1A1A;
  }

  .top>.black{
    height: 40px;  
    background-color: black;
  }

.footer>.black{
    height: 60px;  
    background-color: black;
    }

    .footer-pokedexData>.black{
    height: 30px;  
    background-color: black;
    }
  
  .btn{
    cursor: pointer;
  }

  .elipse {
    height: 120px;
  }

    .elipse , .elipse-top{
      position: absolute;
      width: 100%;
      bottom: 0;
      display: flex;
      justify-content: center;
    }

    .elipse-top {
      bottom: -26px;
      justify-content: end;
      height: 90px;
      right: 23px;
    }

    .elipse2-top {
      position: absolute;
      width: 100%;
      bottom: -5px;
      height: 48px;
      display: flex;
      justify-content: flex-end;
      right: 44px;
    }
    
    .elipse2 {
      position: absolute;
      width: 100%;
      bottom: 0;
      height: 111px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .greet {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 15px;
      margin: 20px 0px 70px;
      font-size: 20px;
    }


    .greet>h2 {
      /* color: #DD1A1A; */
      font-weight: bold;
    }

    .loginImg{
      width: 100%;
      display: flex;
      justify-content: center;
      
    }

.containerPokedex{
  padding-top: 100px;
  position: relative;
}

.btnMod {
	position: absolute;
	border: none;
	cursor: pointer;
	border-radius: 33px;
	left: 0;
	top: 60px;
	height: 40px;
  z-index: 3;
  position: fixed;
}

.btnMod > img {
	margin: 0px 12px;
	padding: 2px;
  transition: all;
}

.container-img-top > img {
	width: 209px;
	height: 45px;
	position: relative;
	top: 18px;
	z-index: 3;
	position: fixed;
}

.welcome{
  font-size: 20px;
  text-align: center;
  padding-top: 50px;
  line-height: 30px;
}

.welcome>span{
  line-height: 50px;
  font-size: 28px;
  font-weight: bold;
  text-transform: capitalize;
  /* color: #DD1A1A; */
  color: rgb(150, 91, 91);
  display: block;
}

.select {
  background-color: #fff;
  border: .5px solid #b9b9b9;
  border-radius: 14px;
  box-shadow: 2px 2px 8px rgba(0,0,0,.3);
  display: flex;
  height: 45px;
  overflow: hidden;
  position: relative;
  width: 300px;
}

.select::after {
  color: #241d1d;
	content: "▼";
	cursor: pointer;
	height: 45px;
	padding: 7px 2px 8px 14px;
	pointer-events: none;
	position: absolute;
	right: 0;
	top: -4px;
	width: 27px;
  font-size: 25px;
}


.select > select {
	appearance: none;
	background-color: #fff;
	/* border: 0 !important; */
	color: #827777;
	cursor: pointer;
	font-size: 1rem;
	outline: 0;
	width: 100%;
	padding: 0 98px;
}

.select > select >option {
  font-weight: normal;
  display: block;
  white-space: nowrap;
  min-height: 1.2em;
  padding: 0px 2px 1px;
}

.select > select>option {
  color: #080808;
}

.inputs{
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap:30px;
}

.inputPokemon{
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
  font-size: 1rem;
  height: 45px;
  margin: 0 auto;
  outline: none;
  padding: 0 76px;
  width: 100%;
  border: none;
  border-radius: 15px;
  
}

form{
position: relative;
width: 300px;
}

.btnSearch{
  height: 45px;
  position: absolute;
  background-color: transparent;
  border: none;
  right: 0;
  cursor: pointer;
}

.btnSearch > img {
	width: 60px;
	top: -7px;
  border-radius: 15px;

	position: absolute;
	right: 0;
}


.sectionBtns{
  padding-top: 40px;
  display: flex;
  justify-content: center;
}

.sectionBtns > button {
	border: none;
	width: 50px;
	cursor: pointer;
	background: whitesmoke;
	margin: -2px;
	padding: 5px 0px;
	border-radius: 20px;
}


.sectionBtns > p {
  padding: 5px 10px;
}

.sectionBtns > p> span {
/* color: #DD1A1A; */
}

a{ text-decoration: none;}

.containerCard{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
  margin: 0 auto;
}

.container-card {
	background-color: black;
	width: 330px;
	padding: 11px;
	margin: 30px 60px;
	border-radius: 16px;
	font-size: 18px;
	box-shadow: 2px 2px 16px rgba(0,0,0,0.5);
}
.cardPokemon {
	color: black;
	text-align: center;
	z-index: 1;
	border-radius: 7px;
	position: relative;
	box-shadow: 2px 6px 10px rgba(0, 0, 0, 0.3);
	display: flex;
	flex-direction: column;
}

.cardPokemon>.id {
  position: absolute;
  right: 0;
  padding-top: 4px;
  width: 60px;
  height: 25px;
  margin: 50x 0;
  background-color: rgb(202, 54, 24);
  border-radius: 50px;
  color: whitesmoke;
}

.cardPokemon>.name {
font-weight: bold;
}

.cardPokemon>.section {
line-height: 30px;
}

.types-ul{
  display: flex;
  justify-content: center;
}

.types-ul>li{
  list-style: none;
}

.types-ul>:nth-child(2)::before{
  content: "/";
}

.card-fond{
  height: 170px;
}

.card-content {
	height: auto;
	background-color: whitesmoke;
	padding-top: 65px;
	border-radius: 7px;
  text-transform: capitalize;
  
}

.card-content>h2{
  font-size: 33px;
  padding: 10px 0px;
}

.card-content > p {
	border-bottom: 1px solid rgb(163, 152, 152);
	padding: 2px 0px 10px 0px;
	margin: 0px 35px;
}

.Pokedex-img {
	width: 226px;
	position: absolute;
	top: 20px;
	right: 12%;
}

.section-stats {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 36px;
	text-transform: capitalize;
	color: black;
	padding-top: 20px;
  padding-bottom: 30px;
}

.section-stats>p{
  font-weight: bold;
}

.section-stats>p>span, .card-content>p{
  color: #827777;
  font-weight: normal;
}

.sectionPagination{
  display: flex;
  justify-content: center;
  width: 100%;
}

.sectionPagination>button, .sectionPagination>div>button{
    width: 32px;
    height: 32px;
    margin: 30px 4px;
    background-color: rgb(44, 42, 42);
    /* background-color:#DD1A1A; */
    border-radius: 50%;
    color: whitesmoke;
    font-weight: bold;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    /* padding: 10px; */
  }
  .sectionPagination>button{
    /* background-color:#DD1A1A; */
    font-size: 20px;
    align-items: center;
    padding-bottom: 5px;
  }


  /**Estilos para los datos de cada pokemon*/

  .container-pokedexData {
    position: relative;
    height: 100vh;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    /* padding: 45px; */
}




  .fond-pokedexData {
    position: absolute;
    height: 314px;
    /* background-color: antiquewhite; */
    border-radius: 43px;
    /* right: 0; */
    width: 100%;
    top: -50px;
    opacity: 97%;
    box-shadow: 2px 2px 18px;
}


  
  .content-pokedexData {
    position: absolute;
    top: 100px;
    /* height: 100%; */
    width: 100%;
    padding-top: 192px;
    font-size: 22px;
    text-transform: capitalize;

  }

  .id {
    position: absolute;
    /* top: 0; */
    bottom: 212px;
    left: -8px;
    color: whitesmoke;
    font-size: 25px;
    /* padding: 9px; */
    /* background: rebeccapurple; */
    padding: 12px 24px;
    border-radius: 12px;
    opacity: 97%;
    z-index: 400;
}

  /* .id {
    position: absolute;

    bottom: 212px;

    color: whitesmoke;
    font-size: 25px;

    padding: 12px 24px;
    border-radius: 12px;
    opacity: 97%;
    z-index: 400;
} */

  .pokedexData-img {
    width: 240px;
    position: absolute;
    top: -80px;
  }

  .container-imgData{
    display: flex;
    justify-content: center;
  }
  .content-pokedexData>h2{
    font-size: 32px;
    padding: 5px;
  }

  .container-types{
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
    padding: 25px;
  }


  .container-types>h3{
    padding: 10px 25px 12px;
    /* margin: 20px ; */
    color: whitesmoke;
    border-radius: 20px;

  }

  .content-pokedexData>h2{
    text-align: center;
    font-size: 38px;
  }

  .container-p{
    display: flex;
    justify-content: space-evenly;
    gap: 45px;
    text-align: center;
    padding-top: 50px;
  }

  .container-p>p{
    font-size: 30px;
  }

  .container-p>p>span{
    font-size: 20px;
  }


progress {
  -webkit-appearance: none;
  border-radius: 30px;
  width: 270px;
  height: 100%;
  width: 100%;

}





/* ::-webkit-progress-inner-element {
  border: 2px solid black;
} */


::-webkit-progress-bar,  ::-webkit-progress-value{
  border-radius: 30px;
  height: 30px;  
  width: auto;
  background-color: #b9b9b9
}

.first>::-webkit-progress-value{
  background: linear-gradient(58deg, rgb(179, 144, 204) 13%, rgba(96,20,97,1) 99%);
}
.second>::-webkit-progress-value{
  background: linear-gradient(297deg, rgba(242,77,37,1) 0%, rgba(252,238,70,1) 100%);
  }.third>::-webkit-progress-value{
  background: linear-gradient(135deg, rgba(44,171,215,1) 19%, rgba(0,38,223,0.6951155462184874) 83%);
}.fourth>::-webkit-progress-value{
  background: linear-gradient(54deg, rgba(169,204,0,1) 22%, rgba(28,163,7,1) 100%);
}

.first, .second, .third, .fourth{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  width: 100%;
  max-width: 420px;


}

.first{
  gap: 27px;
}
.section-statsData {
  width: auto;
  margin: 0 32px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  padding: 48px 10px;
  /* padding: 90px; */
  line-height: 50px;
}

.wrapper-abilities{
  padding-bottom: 20px;
}

.container-abilities {
  display: flex;
  justify-content: space-evenly;
  /* margin: 0 auto; */
  /* flex-direction: column; */
  align-items: center;
  /* gap: 55px; */
  list-style: none;
  margin: 20px 0;
  width: 100%;
}

.abilities {
  text-align: center;
  padding: 30px 0 20px;
  font-size: 23px;
  font-weight: bold;
}


.container-abilities > li {
	font-size: 15px;
	border: 1px solid rgb(159, 133, 133);
	padding: 10px 8px;
	/* border: ; */
	border-radius: 20px;
	/* margin: 20px; */
  box-shadow:  2px 2px 8px;
}

@media(min-width:420px ){
  .abilities {   font-size: 26px; }

  .container-abilities > li {font-size: 20px;}
}


@media(min-width: 768px){
  .container-card {
    background-color: black;
    width: 330px;
    padding: 11px;
    margin: 30px auto;
    border-radius: 16px;
    font-size: 18px;
    box-shadow: 2px 2px 16px rgba(0,0,0,0.5);
  }
  .containerCard{
    display: grid;
    grid-template-columns: repeat(2,1fr); 
  }
  .inputPokemon {
    padding: 0 134px;
  }


  form{
    width: 400px;  
  }


  .select {
    border: .5px solid #b9b9b9;
    /* border-radius: 12px; */
    display: flex;
    height: 44px;
    /* min-width: 250px; */
    overflow: hidden;
    position: relative;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.3);
    border-radius: 14px;
    width: 400px;

  }
  .select > select {
    padding: 0 148px;
  }

  .sectionPagination > button, .sectionPagination > div > button {
    width: 40px;
    height: 40px;

  }

}

  @media(min-width: 1024px){
    .id{
      left: 0;
    }
    .sectionPagination > button, .sectionPagination > div > button {
      width: 50px;
      height: 50px;

    }
    .container-card {
      background-color: black;
      width: 330px;
      padding: 11px;
      margin: 30px 8px;
      border-radius: 16px;
      font-size: 18px;
      box-shadow: 2px 2px 16px rgba(0,0,0,0.5);
      /* display: flex;
      justify-content: center; */
    }

    .search-icon {
      right: 60px;
    }

    input#search-bar {
      max-width: 540px;
    }
    .containerCard{
      display: grid;
      grid-template-columns: repeat(3,1fr);

    }
    .container-img > img {
      width: 468px;
      height: 84px;
    }

    .greet {
      font-size: 24px;
    }
    .search-container {
      width: auto;
      display: block;
      overflow-x: hidden;
      margin: 0 auto;
      max-width: 600px;
  
    }

    .inputs {
      padding-top: 40px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 30px;
    }

    .welcome > span {
      line-height: 55px;
      font-size: 34px;
    }
    
    .fond-pokedexData {
      max-width: 900px;
  }
  .pokedexData-img {
    width: 289px;
    position: absolute;
    top: -119px;
}

.container-abilities {
  justify-content: center;
  gap: 127px;}

  ::-webkit-progress-bar,  ::-webkit-progress-value{
    height: 35px;  
  }

.first, .second, .third, .fourth {
   width: 500px;
}
.first, .second, .third, .fourth {
  max-width:  700px;
  width: 600px;
}

  }
  @media(min-width: 1200px){
    .containerCard{
      margin: 0 50px;
      width: 100%;
    }
  }


