/* @import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}




  body {
    height: 100vh;
    /* position: relative; */
    overflow-x: hidden;
  }

.App {
  /* text-align: center; 
  background-color: rgb(7, 11, 51); */
  position: relative;
  

}


.container-login{
  font-family: 'Roboto Mono', monospace;
  width: 100%;
  height: 100vh;
  position: relative;
}
.container-img {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 50px 0;
}


.container-img > img {
  width: 340px;
	height: 70px;
}

/* .container-img > img {

  width: 352px;
  height: 73px;
  
} */

/* {

  position: absolute;
  width: 676px;
  height: 121px;
  left: 389px;
  top: 256px;
  
} */







.search-container {
	width: auto;
	display: block;
	overflow-x: hidden;
  margin: 0 60px;
}

  input#search-bar {
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
    font-size: 1rem;
    height: 45px;
    margin: 0 auto;
    outline: none;
    padding: 0 20px;
    width: 100%;
    border: none;
    border-radius: 15px;
  }

.search-icon {
	float: right;
	height: 45px;
	position: relative;
	right: 0;
	top: -45px;
	width: 61px;
	border: none;
	cursor: pointer;
	background: #DD1A1A;
	border-radius: 16px;
	color: whitesmoke;
	font-size: 15px;
	font-weight: bold;
}
.search-icon > img {
	position: relative;
	float: right;
	width: 40px;
	height: 40px;
	/* top: -62px; */
	right: 5px;
}



.footer {
	position: absolute;
  /* background-color: #DD1A1A; */
	bottom: 0;
  width: 100%;
}


.top {
	position: absolute;
	top: 0;
	width: 100%;
	position: fixed;
	z-index: 2;
}


.footer>.red{
  height: 100px;  
  background-color: #DD1A1A;
  
  }


  .top>.red-top{
    height: 60px;
    background-color: #DD1A1A;
  
  }


  .top>.black{
    height: 40px;  
    background-color: black;


  }

.footer>.black{
    height: 60px;  
    background-color: black;
    }

  .btn{
    cursor: pointer;
  }



  .elipse {
    height: 120px;
  }


    .elipse , .elipse-top{
      position: absolute;
      width: 100%;
      bottom: 0;
      display: flex;
      justify-content: center;
    }



    .elipse-top {
      bottom: -26px;
      justify-content: end;
      height: 90px;
      right: 23px;
    }

   
    .elipse2-top {
      position: absolute;
      width: 100%;
      bottom: -5px;
      height: 48px;
      display: flex;
      justify-content: flex-end;
      right: 44px;
    }
    
    .elipse2 {
      position: absolute;
      width: 100%;
      bottom: 0;
      height: 111px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .greet {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 15px;
      margin: 20px 0px 70px;
      font-size: 20px;
    }


    .greet>h2 {
      color: #DD1A1A;
      font-weight: bold;
    }



    .loginImg{
      width: 100%;
      display: flex;
      justify-content: center;
      
    }







.containerPokedex{
  padding-top: 100px;
  font-family: 'Roboto Mono', monospace;
  position: relative;
}

.btnMod {
	/* background-color: ; */
	position: absolute;
	/* bottom: 27px; */
	/* right: 0; */
	border: none;
	cursor: pointer;
	/* width: 59px; */
	border-radius: 33px;
	left: 0;
	top: 60px;
	height: 40px;
  z-index: 3;
  position: fixed;
}

.btnMod > img {
	margin: 0px 12px;
	padding: 2px;
  transition: all;
}
.container-img-top > img {
	width: 209px;
	height: 45px;
	position: relative;
	top: 18px;
	z-index: 3;
	position: fixed;
}
.welcome{
  font-size: 20px;
  text-align: center;
  padding-top: 50px;
  line-height: 30px;
}

.welcome>span{
  line-height: 50px;

  font-size: 28px;

  font-weight: bold;
  text-transform: capitalize;
  color: #DD1A1A;
  display: block;
}

.select {
  background-color: #fff;
  border: .5px solid #b9b9b9;
  border-radius: 14px;
  box-shadow: 2px 2px 8px rgba(0,0,0,.3);
  display: flex;
  height: 45px;
  overflow: hidden;
  position: relative;
  width: 300px;
}

.select::after {
	background-color: #DD1A1A;
	color: #f0f8ff;
	content: "▼";
	cursor: pointer;
	/* font-size: 14px; */
	height: 35px;
	padding: 7px 2px 8px 14px;
	pointer-events: none;
	position: absolute;
	right: 0;
	top: 0;
	width: 27px;
}


.select > select {
	appearance: none;
	background-color: #fff;
	border: 0 !important;
	color: #827777;
	cursor: pointer;
	/* flex: 1 1; */
	font-size: 1rem;
	outline: 0;
	width: 100%;
	padding: 0 98px;
}

.select > select >option {
  font-weight: normal;
  display: block;
  white-space: nowrap;
  min-height: 1.2em;
  padding: 0px 2px 1px;
}



.select > select>option {
  
  color: #080808;

}



.inputs{
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  gap:30px;
}






.inputPokemon{
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
  font-size: 1rem;
  height: 45px;
  margin: 0 auto;
  outline: none;
  padding: 0 76px;
  width: 100%;
  border: none;
  border-radius: 15px;
  
}




form{
position: relative;
width: 300px;
}


.btnSearch{
  height: 45px;

  position: absolute;
  background-color: transparent;
  border: none;
  right: 0;
  cursor: pointer;
}


.btnSearch > img {
	width: 60px;
	top: -7px;
  /* background-color: #cfcbcb; */
  border-radius: 15px;

	position: absolute;
	right: 0;
	/* background-color: #DD1A1A; */
	/* height: 10px; */
}


.sectionBtns{
  padding-top: 40px;
  display: flex;
  justify-content: center;
}


.sectionBtns > button {
	border: none;
	width: 50px;
	cursor: pointer;
	background: whitesmoke;
	margin: -2px;
	padding: 2px 0;
}

.sectionBtns > p {
  padding: 3px;
}

.sectionBtns > p> span {
color: #DD1A1A;
}


















.containerCard{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  

}







a{
text-decoration: none;
}
.cardPokemon{
  color: black;
  margin: 30px;
  text-align: center;
  padding: 30px;
  width: 300px;
  z-index: 1;
  border-radius: 30px;
  position: relative;
  box-shadow: 2px 6px 10px rgba(0, 0, 0, 0.3
  );
}

.cardPokemon>.id {
  position: absolute;
  right: 0;
  padding-top: 4px;
  width: 60px;
  height: 25px;
  margin: 50x 0;
  background-color: rgb(202, 54, 24);
  border-radius: 50px;
  color: whitesmoke;
}

.cardPokemon>.name {
font-weight: bold;
}



.cardPokemon>.section {
line-height: 30px;
}








.sectionPagination{
  display: flex;
  justify-content: center;
  width: 100%;
  /* max-width: 00px; */

}



.sectionPagination>button, .sectionPagination>div>button{
    width: 32px;
    height: 32px;
    margin: 30px 0px;

    background-color: rgb(44, 42, 42);
    /* background-color:#DD1A1A; */
    border-radius: 50%;
    color: whitesmoke;
    font-weight: bold;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
  }
  



  .sectionPagination>button{
    background-color:#DD1A1A;

    font-size: 20px;
    align-items: center;
    padding-bottom: 5px;
    
    
  }
/* 
  .sectionPagination>button{
    background-color: #DD1A1A ;
  } */



@media(min-width: 768px){
  .containerCard{
    display: grid;
    grid-template-columns: repeat(2,1fr); 
  }
  .inputPokemon {
    padding: 0 134px;
  }


  form{
    width: 400px;  
  }


  .select {
    border: .5px solid #b9b9b9;
    /* border-radius: 12px; */
    display: flex;
    height: 44px;
    /* min-width: 250px; */
    overflow: hidden;
    position: relative;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.3);
    border-radius: 14px;
    width: 400px;

  }
  .select > select {
    padding: 0 148px;
  }

}

  @media(min-width: 1024px){
    .search-icon {
      right: 60px;
    }

    input#search-bar {
      max-width: 540px;
    }
    .containerCard{
      display: grid;
      grid-template-columns: repeat(3,1fr);
    
    }
    .container-img > img {
      width: 468px;
      height: 84px;
    }

    .greet {
      font-size: 24px;
    }
    .search-container {
      width: auto;
      display: block;
      overflow-x: hidden;
      margin: 0 auto;
      max-width: 600px;
  
    }

    .inputs {
      padding-top: 40px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 30px;
    }

    
  
  }


