@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@600&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: 'Roboto Mono', monospace;
  }
  
.App {
  overflow-x: hidden;
  position: relative;

}


/*Styles to Login Component */

.Login{
  width: 100%;
  height: 100vh;
  position: relative;
}

.Login__logo {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 50px 0;
}

.Login__logo >img {
  width: 340px;
	height: 70px;
}

.Login__greeting{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin: 20px 0px 70px;
  font-size: 20px;
}

.Login__greeting>h2 {
  font-weight: bold;
}

.Login__form{
	width: auto;
	display: block;
	overflow-x: hidden;
  margin: 0 60px;
}

.Login__form>input#search-bar {
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
  font-size: 1rem;
  height: 45px;
  margin: 0 auto;
  outline: none;
  padding: 0 20px;
  width: 100%;
  border: none;
  border-radius: 15px;
  }

.Login__form>button{
	float: right;
	height: 45px;
	position: relative;
	right: 0;
	top: -45px;
	width: 61px;
	border: none;
	cursor: pointer;
	border-radius: 16px;
	color: whitesmoke;
	font-size: 15px;
	font-weight: bold;
}

.Login__img{
  width: 100%;
  display: flex;
  justify-content: center;
  
}

.footer {
	position: absolute;
	bottom: 0;
  width: 100%;
}

.footer__color{
  height: 75px;  
  background-color: #DD1A1A;
  }

.footer__color--black{
  height: 50px;  
  background-color: black;
  }

/*END/ Styles to Login Component */




/* Styles to Pokedex Component */

.Top {
  position: absolute;
  top: 0;
  width: 100%;
  position: fixed;
  z-index: 2;
}

.Top__color{
  height: 60px;
  background-color: #DD1A1A;
}

.Top__color--black{
  height: 40px;  
  background-color: black;
}

.Top__elipse {
  position: absolute;
  width: 100%;
  bottom: 0;
  display: flex;
  bottom: -26px;
  justify-content: flex-end;
  height: 90px;
  right: 23px;
}

.Top__elipse--small {
  position: absolute;
  width: 100%;
  bottom: -5px;
  height: 48px;
  display: flex;
  justify-content: flex-end;
  right: 44px;
}

.Top__logo> img{
	width: 209px;
	height: 45px;
	position: relative;
	top: 18px;
	z-index: 3;
	position: fixed;
}

.ContainerPokedex{
  padding-top: 100px;
  position: relative;
}

.ContainerPokedex__btnIsDark {
	position: absolute;
	border: none;
	cursor: pointer;
	border-radius: 33px;
	left: 0;
	top: 60px;
	height: 40px;
  z-index: 3;
  position: fixed;
}

.ContainerPokedex__btnIsDark > img {
	margin: 0px 12px;
	padding: 2px;
  transition: all;
}

.ContainerPokedex__welcome{
  font-size: 20px;
  text-align: center;
  padding-top: 50px;
  line-height: 30px;
}

.ContainerPokedex__welcome>span{
  line-height: 50px;
  font-size: 28px;
  font-weight: bold;
  text-transform: capitalize;
  color: rgb(150, 91, 91);
  display: block;
}

.ContainerPokedex__inputs{
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap:30px;
}

.ContainerPokedex__inputs>form{
position: relative;
width: 300px;
} 

.ContainerPokedex__inputPokemon{
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
  font-size: 1rem;
  height: 45px;
  margin: 0 auto;
  outline: none;
  padding: 0 76px;
  width: 100%;
  border: none;
  border-radius: 15px;
}

.ContainerPokedex__btnSearch{
  height: 45px;
  position: absolute;
  background-color: transparent;
  border: none;
  right: 0;
  cursor: pointer;
}

.ContainerPokedex__btnSearch > img {
	width: 60px;
	top: -7px;
  border-radius: 15px;
	position: absolute;
	right: 0;
}

.ContainerPokedex__select {
  background-color: #fff;
  border: .5px solid #b9b9b9;
  border-radius: 14px;
  box-shadow: 2px 2px 8px rgba(0,0,0,.3);
  display: flex;
  height: 45px;
  overflow: hidden;
  position: relative;
  width: 300px;
}

.ContainerPokedex__select::after {
  color: #241d1d;
	content: "▼";
	cursor: pointer;
	height: 45px;
	padding: 7px 2px 8px 14px;
	pointer-events: none;
	position: absolute;
	right: 0;
	top: -4px;
	width: 27px;
  font-size: 25px;
}


.ContainerPokedex__select > select {
	appearance: none;
	background-color: #fff;
	color: #827777;
	cursor: pointer;
	font-size: 1rem;
	outline: 0;
	width: 100%;
	padding: 0 98px;
}

.ContainerPokedex__select > select >option {
  font-weight: normal;
  display: block;
  white-space: nowrap;
  min-height: 1.2em;
  padding: 0px 2px 1px;  
  color: #080808;

}

.ContainerPokedex__BtnsPagination{
  padding-top: 40px;
  display: flex;
  justify-content: center;
}

.ContainerPokedex__BtnsPagination > button {
	border: none;
	width: 50px;
	cursor: pointer;
	background: whitesmoke;
	margin: -2px;
	padding: 5px 0px;
	border-radius: 20px;
}

.ContainerPokedex__BtnsPagination > p {
  padding: 5px 10px;
}

.ContainerPokedex__cards{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
  margin: 0 auto;
}

.ContainerPokedex__pagination{
  display: flex;
  justify-content: center;
  width: 100%;
}

.ContainerPokedex__pagination>button{
  font-size: 20px;
  align-items: center;
  padding-bottom: 5px;
}

.ContainerPokedex__pagination>button, .ContainerPokedex__pagination>div>button{
  width: 32px;
  height: 32px;
  margin: 30px 4px;
  background-color: rgb(44, 42, 42);
  border-radius: 50%;
  color: whitesmoke;
  font-weight: bold;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
  }
  
/* END Styles to Pokedex Component */



/* Styles to CardsPokemon.js Component */

.Card {
	background-color: black;
	width: 330px;
	padding: 11px;
	margin: 30px 60px;
	border-radius: 16px;
	font-size: 18px;
	box-shadow: 2px 2px 16px rgba(0,0,0,0.5);
}
a { text-decoration: none;}

.Card__pokemon {
	color: black;
	text-align: center;
	z-index: 1;
	border-radius: 7px;
	position: relative;
	box-shadow: 2px 6px 10px rgba(0, 0, 0, 0.3);
	display: flex;
	flex-direction: column;
}



.Card__pokemon>.id {
  position: absolute;
  right: 0;
  padding-top: 4px;
  width: 60px;
  height: 25px;
  margin: 50x 0;
  background-color: rgb(202, 54, 24);
  border-radius: 50px;
  color: whitesmoke;
}

.Card__pokemon>.name {
font-weight: bold;
}

.Card__pokemon>.section {
line-height: 30px;
}
.Card__background{
  height: 170px;
}

.Card__content {
	height: auto;
	background-color: whitesmoke;
	padding-top: 65px;
	border-radius: 7px;
  text-transform: capitalize;
}


.Card__content > img {
  width: 226px;
  position: absolute;
  top: 20px;
  right: 12%;
}

.Card__content>h2{
  font-size: 33px;
  padding: 10px 0px;
}

.Card__types{
  display: flex;
  justify-content: center;
}

.Card__types>li{
  list-style: none;
}

.Card__types>:nth-child(2)::before{
  content: "/";
}

.Card__content > p {
	border-bottom: 1px solid rgb(163, 152, 152);
	padding: 2px 0px 10px 0px;
	margin: 0px 35px;
}

.Card__stats {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 36px;
	text-transform: capitalize;
	color: black;
	padding-top: 20px;
  padding-bottom: 30px;
}

.Card__stats>p{
  font-weight: bold;
}

.Card__stats>p>span, .Card__content>p{
  color: #827777;
  font-weight: normal;
}
/* END Styles to CardsPokemon.js Component */



/*Styles to PokedexData*/

.Error{
  flex-direction: column;
  gap: 60px;
}

.Error__404 {
  font-family: 'Barlow Condensed', sans-serif;	font-size: 122px;
	color: #ea6565;
	/* padding: 0 10px 50px; */
	/* display: flex; */
}

.Error__404>img{
  width: 100px;
}

.Error__btn {
	background-color: #ea6565;
	padding: 20px 30px;
	font-size: 16px;
	border-radius: 20px;
	border: none;
	cursor: pointer;
	color: whitesmoke;
	font-weight: bold;
}
.Loading>p, .Error>p{
  text-align: center;
  font-size: 24px;
}

.Loading, .Error{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.PokedexData {
  position: relative;
  height: 100vh;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}


.PokedexData__background{
  position: absolute;
  height: 314px;
  border-radius: 43px;
  width: 100%;
  top: -50px;
  opacity: 97%;
  box-shadow: 2px 2px 18px;
}

.PokedexData__background>p{
  position: absolute;
  bottom: 212px;
  left: -8px;
  color: whitesmoke;
  font-size: 25px;
  padding: 12px 24px;
  border-radius: 12px;
  opacity: 97%;
  z-index: 400;
}

.PokedexData__content>h2{
  font-size: 32px;
  padding: 5px;
}
.PokedexData__content>h2{
  text-align: center;
  font-size: 38px;
}

.PokedexData__content {
  position: absolute;
  top: 100px;
  width: 100%;
  padding-top: 192px;
  font-size: 22px;
  text-transform: capitalize;
}

.PokedexData__containerImg{
  display: flex;
  justify-content: center;
}
.PokedexData__containerImg>img {
  width: 240px;
  position: absolute;
  top: -80px;
}

.PokedexData__types{
  display: flex;
  justify-content: space-evenly;
  gap: 30px;
  padding: 25px;
}

.PokedexData__types>h3{
  padding: 10px 25px 12px;
  color: whitesmoke;
  border-radius: 20px;
}

.PokedexData__paragraphs{
  display: flex;
  justify-content: space-evenly;
  gap: 45px;
  text-align: center;
  padding-top: 50px;
}

.PokedexData__paragraphs>p{
  font-size: 30px;
}

.PokedexData__paragraphs>p>span{
  font-size: 20px;
}

.PokedexData__stats {
  width: auto;
  margin: 0 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 48px 10px;
  line-height: 50px;
}

progress{
  -webkit-appearance: none;
  border-radius: 30px;
  width: 270px;
  height: 100%;
  width: 100%;
}

.PokedexData__stat1, .PokedexData__stat2, .PokedexData__stat3, .PokedexData__stat4{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  width: 100%;
  max-width: 420px;
}

.PokedexData__stat1--gap{
  gap: 27px;
}

.PokedexData__stat1>::-webkit-progress-value{
  background: linear-gradient(58deg, rgb(179, 144, 204) 13%, rgba(96,20,97,1) 99%);
}
.PokedexData__stat2>::-webkit-progress-value{
  background: linear-gradient(297deg, rgba(242,77,37,1) 0%, rgba(252,238,70,1) 100%);
  }

.PokedexData__stat3>::-webkit-progress-value{
  background: linear-gradient(135deg, rgba(44,171,215,1) 19%, rgba(0,38,223,0.6951155462184874) 83%);
  }

.PokedexData__stat4>::-webkit-progress-value{
  background: linear-gradient(54deg, rgba(169,204,0,1) 22%, rgba(28,163,7,1) 100%);
  }

::-webkit-progress-bar,  ::-webkit-progress-value{
  border-radius: 30px;
  height: 30px;  
  width: auto;
  background-color: #b9b9b9
}

.PokedexData__abilities{
  padding-bottom: 20px;
}

.PokedexData__abilities >p{
  text-align: center;
  padding: 30px 0 20px;
  font-size: 23px;
  font-weight: bold;
}

.PokedexData__listAbilities{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  margin: 20px 0;
  width: 100%;
  padding-bottom: 200px;
}

.PokedexData__listAbilities> li {
	font-size: 15px;
	border: 1px solid rgb(159, 133, 133);
	padding: 10px 8px;
	border-radius: 20px;
  box-shadow:  2px 2px 8px;
}

@media(min-width:420px ){
  .abilities { font-size: 26px; }
  .PokedexData__listAbilities> li {font-size: 20px;}
}

@media(min-width: 768px){

.ContainerPokedex__inputs>form{
  width: 400px;  
  }

.ContainerPokedex__inputPokemon {
  padding: 0 134px;
  }

.ContainerPokedex__select {
  border: .5px solid #b9b9b9;
  display: flex;
  height: 44px;
  overflow: hidden;
  position: relative;
  box-shadow: 2px 2px 8px rgba(0,0,0,0.3);
  border-radius: 14px;
  width: 400px;
  }

.ContainerPokedex__select > select {
  padding: 0 148px;
  }

.ContainerPokedex__cards{
  display: grid;
  grid-template-columns: repeat(2,1fr); 
  }

.ContainerPokedex__pagination > button, .ContainerPokedex__pagination > div > button {
  width: 40px;
  height: 40px;
  }

.Card {
  margin: 30px auto;
  }
  
}

  @media(min-width: 1024px){
    
  .Login__greeting {
    font-size: 24px;
    }
    
  .Login__form {
    width: auto;
    display: block;
    overflow-x: hidden;
    margin: 0 auto;
    max-width: 600px;
    }

  .Login__form>input#search-bar {
    max-width: 540px;
    }

  .ContainerPokedex__welcome > span {
    line-height: 55px;
    font-size: 34px;
    }

  .ContainerPokedex__inputs {
    flex-direction: row;
    }

    
  .ContainerPokedex__cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    }

  
  .ContainerPokedex__pagination > button, .ContainerPokedex__pagination > div > button {
    width: 50px;
    height: 50px;
    }
    
  .Card {
    margin: 30px 8px;
    }

  .PokedexData__background{
    max-width: 900px;
    }

  .PokedexData__background > p{
    left: 0;
    }

  .pokedexData-img {
    width: 289px;
    position: absolute;
    top: -119px;
    }

  ::-webkit-progress-bar,  ::-webkit-progress-value{
    height: 35px;  
    }

  .PokedexData__stat1, .PokedexData__stat2, .PokedexData__stat3, .PokedexData__stat4 {
    width: 500px;
    }

  .PokedexData__stat1, .PokedexData__stat2, .PokedexData__stat3, .PokedexData__stat4 {
    max-width:  700px;
    width: 600px;
    }

  .PokedexData__listAbilities{
    justify-content: center;
    gap: 127px;
    }

  }
  @media(min-width: 1200px){
    .ContainerPokedex__cards{
      margin: 0 50px;
      width: 100%;
    }
  }


